@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: var(--color-background);
  font-family: OpenSans, sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "OpenSans";
  font-weight: 500, 600, 800, 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/OpenSans.ttf");
}

@theme {
  --color-primary: #f85e00;
  --color-secondary: #273e47;
  --color-tertiary: #c34a36;
  --color-background: #f5f5f5;
  --color-text: #4b4453;
}
